header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-image: url("../images/cream-dust-1920x1080.png");
}
@media only screen and (min-width: 1024px) {
  header {
    width: 25vw;
    margin: 0;
    max-width: 350px;
  }
}
header .user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  header .user-container {
    position: fixed;
    top: 200px;
  }
  header .user-container .user-name {
    text-align: center;
    width: 90%;
  }
}
header .user-container .user-logo {
  max-width: 200px;
}
