.scroll-to-top-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: none;
  cursor: pointer;
  display: none;
}

.scroll-to-top-btn div {
  background-color: red;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-btn div:hover {
  background-color: white;
  border: 1px solid red;
}

.scroll-to-top-btn img {
  width: 20px;
}


.scroll-to-top-btn img:last-child {
  display: none;
}
.scroll-to-top-btn:hover img:last-child {
  display: block;
}
.scroll-to-top-btn:hover img:first-child {
  display: none;
}